name: Android CI

on:
  push:
    branches: [ master,develop,feature/*,documentation/*,bugFix/* ]
  pull_request:
    branches: [ master,develop,feature/*,documentation/*,bugFix/* ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Build with Gradle
        run: ./gradlew assembleDebug

      - name: Run Tests
        run: ./gradlew test